
@media all and (min-width:1400px) {
    #quotes {
        font-size: 48px !important;   
    }
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    header>.logo>a {
        font-size: 36px;
    }
    
    header>.logo>img {
        width: 36px;
    }

    .search-form input[type=text] {
        font-size: 20px;
    }

    #quotes {
        font-size: 32px;
    }
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    #quotes {
        font-size: 20px;   
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    .logo {
        background-color: rgba(245, 98, 77, 0.4);        
        text-align: center;
    }

    .logo>a {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }

    #quotes {
        font-size: 16px;
        top: 20px;
        left: 12px;
    }

    .App {
        width: 100%;
        height: 100%;
    }

    .topic-name {
        animation: none;
    }

    .movie .poster {
        width: 48px;
    }

    .movie-info .movie-title {
        width: 48px;
        font-size: 10px;
    }

    .push-box {
        position: relative;
        font-size: 24px;
        padding: 24px;
        margin: 16px auto;
    }

    .container {
        position: relative;
    }

    .mobile-box {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .lightskyblue-box {
        position: absolute;
        width: 64px;
        text-align: center;
        font-size: 12px;
        bottom: 55px;
        left: 10%;
    }

    .ticketing-box {
        margin: 0;
        position: absolute;
        right: 10%;
        bottom: 75px;
    }

    .cancel-button {
        bottom: 15px;
        right: 16%;
        padding: 16px;
    }

    .reservation-box {
        z-index: auto;        
        gap: 16px;
    }

    .movie-title {
        font-size: 18px;
    }

    .reservation-movie {
        margin: 0;
    }

    .reservation-movie .movie-poster {
        width: 160px;
    }

    .seat-availability .movie-screen {
        width: 80px;
        height: 80px;
    }

    .seat-availability .reservation-seat {
        padding: 8px 0 0;
    }

    .reservation-seat>div {
        margin: 4px 0;
    }

    .reservation-seat>div>button {
        padding: 4px;
        margin: 0;
    }

    .buy-button {
        margin: 8px 0;
    }

    .buy-button>button {
        font-size: 12px;
        padding: 2px 4px;
    }

    .reservation-seat>div>button:nth-child(4),
    .reservation-seat>div>button:nth-child(11),
    .reservation-seat>div>button:nth-child(19),
    .reservation-seat>div>button:nth-child(26),
    .reservation-seat>div>button:nth-child(34),
    .reservation-seat>div>button:nth-child(41), 
    .reservation-seat>div>button:nth-child(49), 
    .reservation-seat>div>button:nth-child(56), 
    .reservation-seat>div>button:nth-child(64), 
    .reservation-seat>div>button:nth-child(71) {
        margin-right: 8px;
    }
}

@media (hover: hover) {
    .ticketing-on:hover{
        background-color: pink;
    }
    
    .ticketing-box>button:hover {
        color: rgba(127, 127, 127, 0.8);
    }
    
    .search-button:hover {
        background-color: pink;
    }

    .js-menu .content > button:hover {
        color: rgba(127, 127, 127, 0.8);
    
        /* animation: fontUp .5s linear;
        animation-fill-mode: forwards; */
    }

    .button-list>li>button:hover {
        background-color: bisque;
    }

    .reservation-seat>div>.unSelected:hover {
        background-color: orange;
    }

    .buy-button>button:hover {
        border: 1px solid #ccc;
        background-color: bisque;
    }
}